//Custom Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
* {
  background: transparent;
}
.base-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;

  .header {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    background: transparent;
  }
  h1 {
    color: #3498db;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0d5483;
  }

  .content {
    display: flex;
    flex-direction: column;

    .image {
      margin-left: 48px;
      width: 12em;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .form {
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;

      .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        label {
          font-size: 20px;
        }
        input {
          margin-top: 6px;
          min-width: 18em;
          height: 37px;
          padding: 0px 10px;
          font-size: 16px;
          font-family: "Open Sans", sans-serif;
          background-color: #f3f3f3;
          border: 0;
          border-radius: 4px;
          margin-bottom: 31px;
          transition: all 250ms ease-in-out;

          &:focus {
            outline: none;
            box-shadow: 0px 0px 12px 0.8px #3474dbb2;
          }
        }
      }
    }
  }
}
//Login Main Container
.login {
  width: 27em;
  height: 54em;
  //min-height: 44em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  position: relative;
  z-index: 99;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    position: relative;
    z-index: 99;
    width: 100%;
    height: 90%;
    z-index: 99;
    padding: 17px 10px;
    //transition: transform 200ms ease-in-out;
  }
  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    background-color: #3498db;
    width: 100%;
    position: absolute;
    right: -34%;
    border-radius: 6px;
    z-index: 1;
    transition: all 400ms ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);

    &.right {
      right: -40%;
      align-items: flex-end;
      &:hover {
        right: -45%;
      }
    }
    &.left {
      right: 40%;
      align-items: flex-start;
      &:hover {
        right: 45%;
      }
    }

    .text {
      font-size: 21px;
      font-weight: 500;
      color: #fff;
      margin-right: 3em;
      margin-left: 3em;
    }
  }
}

//Button
.btn {
  margin: 0 auto;
  font-size: 21px;
  padding: 5px 20px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #2386c8;
  }
  &:focus {
    outline: none;
  }
}
@media screen and (max-width: 700px) and (max-height: 700px) {
  .base-container {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;

    .header {
      font-size: auto;
      font-family: "Open Sans", sans-serif;
    }
    h1 {
      color: #3498db;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #0d5483;
    }

    .content {
      display: flex;
      flex-direction: column;

      .image {
        visibility: hidden;
      }
    }

    .form {
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;

      .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        label {
          font-size: auto;
        }
        input {
          margin-top: 6px;
          min-width: auto;
          height: auto;
          padding: 0px 10px;
          font-size: 16px;
          font-family: "Open Sans", sans-serif;
          background-color: #f3f3f3;
          border: 0;
          border-radius: 4px;
          margin-bottom: 31px;
          transition: all 250ms ease-in-out;

          &:focus {
            outline: none;
            box-shadow: 0px 0px 12px 0.8px #3474dbb2;
          }
        }
      }
    }
  }

  .footer {
    margin-top: 3em;
  }
  //Login Main Container
  .login {
    width: auto;
    height: auto;
    //min-height: 44em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    position: relative;
    z-index: 99;
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
      border-radius: 4px;
      position: relative;
      z-index: 99;
      width: auto;
      height: auto;
      z-index: 99;
      padding: 17px 10px;
      //transition: transform 200ms ease-in-out;
    }
    .right-side {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 90%;
      background-color: #3498db;
      width: 100%;
      position: absolute;
      right: -34%;
      border-radius: 6px;
      z-index: 1;
      transition: all 400ms ease-in-out;
      cursor: pointer;
      box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);

      &.right {
        right: -40%;
        align-items: flex-end;
        &:hover {
          right: -45%;
        }
      }
      &.left {
        right: 40%;
        align-items: flex-start;
        &:hover {
          right: 45%;
        }
      }

      .text {
        font-size: 21px;
        font-weight: 500;
        color: #fff;
        margin-right: 3em;
        margin-left: 3em;
      }
    }
  }

  //Button
  .btn {
    margin-bottom: 5%;
    font-size: 21px;
    padding: 5px 20px;
    border: 0;
    background-color: #3498db;
    color: #fff;
    border-radius: 3px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: #2386c8;
    }
    &:focus {
      outline: none;
    }
  }
}
