.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  background: url("./img/pozadina.jpg");
}
.cbCon{
  background-color:white ;
  margin-left: 7%;
}
.pretraga{
  float: left;
  margin-top: 2%;
  margin-left: 2%;
  border-radius: 20%;
  background-color: white;
}
.pretragaInput{
  float: left;
  margin-top: 2%;
  margin-left: 3%;
  border-radius: 20%;
}
.restart{
  float: left;
  color: red;
  margin-top: 2.2%;
  margin-left: 1%;
  border:none;
}
.search-btn{
  float: left;
  margin-top: 2%;
  margin-left: 1%;
}.search-btnOff{
  display: none;
}
.cbOp{
  background-color:white ;
  margin-left: 7%;
}
* {
  padding: 0;
  box-sizing: border-box;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.from{
  float:left;
  margin-left: 3%;
}
.folderName{
  float:left;
  margin-left: 2%;
  font-size: 80%;
  margin-top: 0.5%;
}
.folderContent{
  float: right;
  font-size: 80%;
  margin-top: 0.5%;
  margin-right: 2%;
}
.naslovi{
  float:left;
  margin-left: 15%;
}
.msg{
  float: left;
  margin-left: 10%;
}
.datetime{
  float: left;
  margin-left: 28%;
}
.sortup{
  border: none;
  float: left;
  margin-top: 1%;
  margin-left: 1%;
}
.sortdown{
  border:none;
  float: left;
  margin-top: 0.3%;
}
.addEmail{
  float: left;
  margin-left: 1%;
  margin-top: 0.4%;
}
.addContact{
  float: left;
  margin-left: 2.5%;
  margin-top: 0.4%;
}
.displayContacts{
  float:left;
  margin-left: 3.3%;
}
.mailContact{
  float:right;
  margin-right: 12%;
}
.editC{
  float: right;
  margin-right: 1%;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
}
.deleteC{
  margin-right: 1%;
  float: right;
  margin-top: 0.5%;
}
.deleteF{
  margin-top: 15%;
  margin-left: 30%;
}
.left{
  float: right;
  margin-top: -1%;
  margin-right: 1%;
}
/* Centralni div */
.div1 {
  position: fixed;
  width: 100%;
  padding: 0.75rem 2rem;
  background: transparent;
  margin-left: 2px;
  height: 60%;
  z-index: 0;
}
.body-div {
  max-width: 1170px;
  overflow: scroll;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
  margin-top: 3%;
  border-radius: 10px;
  z-index: -2;
}
/* ----------------- */
.naslov {
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  float: left;
  margin-top: 3%;
  margin-left: 40px;
}
.link {
  text-decoration: none;
}
.lista {
  z-index: -1;
  margin: 0 auto;
  margin-left: 15%;
  display: inline-block;
  width: 70%;
  height: 70%;
  margin-right: 14%;
  overflow-y: scroll;
  margin-top: 3%;
  background-color: rgba(255, 255, 255, 0.6);
  border-style: ridge;
  border-radius: 10px;
  margin-top: 8%;
}
.lista2 {
  z-index: -1;
  margin: 0 auto;
  margin-left: 15%;
  display: inline-block;
  width: 70%;
  height: 70%;
  margin-right: 14%;
  overflow-y: scroll;
  margin-top: 3%;
  background-color: rgba(255, 255, 255, 0.6);
  border-style: ridge;
  border-radius: 10px;
  margin-top: 5%;
}
/* footer */

.footer {
  margin: 0 auto;
  visibility: show;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  z-index: 1;
}

.footer-div {
  width: 100%;
  height: 100%;
  z-index: -2;
  max-width: 1170px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  border-radius: 10px;
  margin-right: auto;
}
.footer-elements {
  margin: 0 auto;
  text-align: center;
  position: flex;
  width: 100%;
}
.footer-elements li {
  text-decoration: none;
  display: inline-block;
  float: none;
  margin-left: 1;
}
.footer-elements li a {
  margin-left: 20px;
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
}
.footer-elements li a:hover {
  color: white;
}

/* Navbar */
.navbar {
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: transparent;
  z-index: 1;
}

.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  display: inline-flex;
  margin-right: 0%;
  margin-top: 60%;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}

.nav-links {
  margin-top: 0px;
  height: 0;
  width: 100%;
  overflow: auto;
  transition: var(--mainTransition);
  list-style-type: none;
}
.accountForm {
  list-style-type: none;
  margin: 0 auto;
}
.accountForm li {
  width: 50%;
}
.brisanje{
  float: right;
}
.emailForm {
  list-style-type: none;
  margin: 0 auto;
  text-align: center;
  margin-left: 35%;
  margin-top: 5%;
}
.emailForm li {
  width: 50%;
}
.accountForm {
  list-style-type: none;
  margin: 0 auto;
  text-align: center;
  margin-left: 35%;
  margin-top: 5%;
}

.dugmeSave {
  background-color: transparent;
  border: none;
  float: right;
  margin-right: 10%;
  margin-top: 3%;
}
.input {
  background-color: white;
  border-radius: 10px;
  margin-top: 1.2%;
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
}
.input1 {
  color: black;
  margin-top: 1.2%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 20px;
  text-align: left;
  border: none;
  font-family: sans-serif;
  border-bottom: 1px solid black;
}

.inputEdit {
  background-color: white;
  border-radius: 10px;
  margin-top: 1.2%;
  width: 50%;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
}

.labeli {
  margin-right: 20%;
  text-align: left;
  font-size: 30px;
  color: rgb(28, 101, 197);
  float: left;
  height: 100%;
  width: 100%;
  pointer-events: none;
  font-family: Arial, Helvetica, sans-serif;
}
.float {
  background-color: rgb(28, 101, 197);
  height: 50px;
  width: 50px;
  float: right;
  border-radius: 100%;
  margin-top: 2%;
  margin-right: 4%;
}
.float1 {
  background-color: rgb(28, 101, 197);
  height: 50px;
  width: 50px;
  float: right;
  border-radius: 100%;
  margin-top: 2%;
  margin-right: 4%;
}
.logoutButton {
  border: none;
  margin-top: 10%;
}
.floatI {
  color: white;
  margin: 0 auto;
  width: 80%;
  height: 80%;
  margin-top: 9%;
}
.floatS {
  color: white;
  margin: 0 auto;
  width: 80%;
  height: 80%;
  margin-top: 9%;
}

.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  width: 90px;
  margin-left: 20%;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: white;
}
.dugmence {
  float: right;
  margin-top: 5%;
  margin-right: 5%;
  background-color: transparent;
  border: none;
}
.show-nav {
  height: 200px;
}
.nav-center {
  max-width: 1170px;
  display: flex;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.767);
  width: 100%;
  border-radius: 10px;
  margin-right: 12.5%;
}
.foldersNumberOf{
  float: right;
  font-size: 70%;
  margin-right: 3%;
  margin-top: 2%;
  width: 5%;
  height: 10%;
}
@media screen and (max-width: 1300px) {
  .naziviFoldera {
    font-size: 60%;
    float: left;
    margin-left: 15%;
    margin-top: 2%;
  }
  .folderName{
    font-size: 80%;
    margin-top: 3%;
  }
  .ikonica1{
    margin-left: 3%;
  }
  .folderContent{
    display: none;
  }
  /* mali ekran */
  /* .navFolders{
    display: none;
  }
  .navContacts{
    display: none;
  }
  .navAcc{
    display: none;
  }
  .navLog{
    display: none;
  } */
  .naslovi{
    display: none;
  }
  .msg{
    display: none;
  }
  .addEmail{
    margin-top: 3%;
  }
  .datetime{
    font-size: 80%;
    margin-top: 3%;
  }
  .from{
    font-size: 80%;
    margin-top: 3%;
  }.sortup{
    margin-top: 4%;

  }
  .sortdown{
    margin-top: 4%;
  }
  .kontaktSlika {
    border-radius: 100%;
    width: 20%;
    float: left;
    height: 20%;
    margin: 0 auto;
    margin-top: 0.4%;
    margin-left: 1%;
  }
  .naziviContact {
    font-size: 15px;
    float: left;
    margin-top: 4%;
    margin-left: 2%;
  }
  .newMessage {
    color: blue;
    float: right;
    margin-right: 2%;
    margin-top: 1.3%;
    font-size: 7px;
  }

  .datum {
    font-size: 10px;
    float: right;
    margin-top: 0.7%;
    margin-right: 2%;
  }
  .float1 {
    background-color: rgb(28, 101, 197);
    height: 40px;
    width: 40px;
    float: right;
    border-radius: 100%;
    margin-top: 4%;
    margin-right: 7%;
  }

  .floatI {
    color: white;
    margin: 0 auto;
    width: 80%;
    height: 80%;
    margin-top: 9%;
  }

  .floatS {
    color: white;
    margin: 0 auto;
    width: 80%;
    height: 80%;
    margin-top: 9%;
  }
  /* podesavanje listi */
  .nazivi {
    font-size: 10px;
    margin-top: 1%;
  }
  .subject {
    display: none;
  }
  .tekst {
    display: none;
  }

  .foldersNumberOf {
    display: none;
  }


  .ikonica {
    margin-top: 0.4%;
    height: 10%;
    float: left;
    width: 10%;
    color: rgb(28, 101, 197);
  }
  .ikonica1 {
    margin-top: 0.4%;
    height: 70%;
    float: left;
    width: 5%;
    color: rgb(28, 101, 197);
  }
}

@media screen and (min-width: 1300px) {
  .kontaktSlika {
    border-radius: 100%;
    width: 40px;
    float: left;
    height: 40px;
    margin: 0 auto;
    margin-top: 0.4%;
    margin-left: 1%;
  }
  /* podesavanje listi */
  .nazivi {
    color: rgb(28, 101, 197);
    float: left;
    margin-left: 2%;
    margin-top: 1%;
    font-size: 14px;
  }
  .naziviContact {
    float: left;
    margin-top: 1.5%;
    margin-left: 2%;
  }
  .naziviFoldera {
    font-size: 14px;
    float: left;
    margin-top: 2.5%;
    margin-left: 1.5%;
  }
  .subject {
    float: left;
    margin-left: 5%;
    margin-top: 1%;
  }
  .tekst {
    margin-left: 1%;
    margin-bottom: 0.2%;
    font-size: 12px;
    float: left;
    margin-top: 1.6%;
  }

  .datum {
    float: right;
    margin-top: 1.8%;
    font-size: 14px;
    margin-right: 1%;
  }

  .ikonica {
    color: rgb(28, 101, 197);
    float: left;
    margin-top: 0.4%;
    font-size: 35px;
  }
  .newMessage {
    color: blue;
    float: right;
    margin-right: 1%;
    margin-top: 1.3%;
  }
  .oldMessage {
    display: none;
  }
  .ikonica1 {
    margin-top: 1.4%;
    height: 50%;
    margin-left: 1%;
    float: left;
    width: 5%;
    color: rgb(28, 101, 197);
  }

  /* gotove liste  */
  .logout-link {
    margin-left: 55%;
  }
  .nav-links a {
    display: block;
    text-decoration: none;
    padding: 1rem 0;
    color: var(--mainBlack);
    transition: var(--mainTransition);
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    width: 70px;
    margin-left: 20%;
    letter-spacing: var(--mainSpacing);
  }
}
.linkLista {
  text-decoration: none;
  color: black;
  background-color: white;
}

@media screen and (min-width: 768px) {
  .nav-links a {
    display: block;
    text-decoration: none;
    padding: 1rem 0;
    color: var(--mainBlack);
    transition: var(--mainTransition);
    text-align: center;
    font-size: 1rem;
    font-weight: 600;

    letter-spacing: var(--mainSpacing);
  }

  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin-left: auto;

    display: flex;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    margin-right: auto;
    border-radius: 10px;
  }
  .nav-links {
    margin-top: 23px;
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}

.imgStyle {
  height: 80px;
  width: 80px;
  padding: 5px;
  margin-left: 30px;
  margin-top: 10px;
}

.email-lista {
  margin: 0 auto;
  width: 100%;
  position: relative;
  display: block;
  height: 15%;
  background-color: white;
  border-bottom: 1px solid black;
  text-align: left;
  display: inline-block;
}

.userslika {
  border-radius: 100%;
  width: 10%;
  margin-top: 5%;

}
.userslikaa {
  border-radius: 100%;
  width: 10%;
  margin-top: 5%;
  margin-left: 15%;
}
